<div class="row">
    <div lcass="col m6 offset-m3 s12" *ngIf="!showForm">
        <a (click)="showForm=true"
        class="btn-floating btn-large waves-effect waves-light green">
    <i class="material-icons">add</i>
    </a>
    </div>

    <div class="col m6 offset-m3 s12 my-form" *ngIf="showForm">
        <form #myForm="ngForm" novalidate
        (ngSubmit)="onSubmit(myForm)">
    <h5>New recipe</h5>
    
    <div class="input-field">
        <input id="recipeNumber" name="recipeNumber" ngModel required type="text">
        <label for="recipeNumber">Number of recipe</label>
    </div>
    
    <div class="input-field">
        <input id="doctor" name="doctor" ngModel required type="text">
        <label for="doctor">Doctor</label>
    </div>
    
    <div class="input-field">
        <input id="patient" name="patient" ngModel required type="text">
        <label for="patient">Patient</label>
    </div>
    
    <div class="input-field">
        <input id="medicineQuantity" name="medicineQuantity" ngModel required type="text">
        <label for="medicineQuantity">Quantity Of Medicine</label>
    </div>

    <div class="input-field">
        <button type="button" (click)="showForm=false"
        class="rem-row btn-floating waves-effect waves-light left blue-grey">
    <i class="material-icons">keyboard_arrow_up</i>
    </button>

    <button type="submit" [disabled]="myForm.invalid"
    class="rem-row btn-floating waves-effect waves-light green right">
    <i class="material-icons">done</i>
</button>
    </div>
    </form>
    </div>
</div>